body {
    margin: 0%;
    border: 0%; 
    background-image: url(./CSS/backgroundblack.jpg);
     background-size: cover;
     overflow-x: hidden ;}


    a { color: white; text-decoration: none; font-family: 'Roboto', sans-serif; flex-wrap: wrap;}

    .Flexbox-Container1 {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        width: 100vw; 
        margin: 0%; justify-content: right; }

    .navuno {
        flex-grow: 0.2; }

     .navdos {
        flex-grow: 0.2;
        }
    .navtres {
        flex-grow: 0.2;}
    .navcuatro {
        flex-grow: 0.2;}


    .flexbox-seg {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       width: 100vw;
        height: 90vh;
        flex-basis: 1000px;
        background-image: url(CSS/studio.png) ;
        background-size: cover;  
        justify-content: center; 
        background-position: center; }


     h1 {
        display: flex;
        color: darkgoldenrod;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 3vh;
        width: 100vw;
        justify-content: center;
        justify-items: center;
        font-family: 'Roboto', sans-serif;}
        
    h2 {
      color: white;
      display: flex;
      width: 100vw;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 3vh;
      justify-items: center;
      justify-content: center;
      font-family: 'Roboto', sans-serif;}
        
    h3 { color: white;
        display: flex;
        flex-direction: row;
        width: 100vw;
        flex-wrap: wrap;
        font-size: 3vh;
        justify-items: center;
        justify-content: center;   
        font-family: 'Roboto', sans-serif;}


    .galeryflex {
        display: flex;
        margin: 0px;
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: transparent;
        justify-content: center; gap: 3em;
         }

    .galery2flex {
        display: flex;
        flex-direction: column;
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0%;
      padding: 1%;}

    .galery3flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: center; gap: 3em;
    }
   

    .Texto {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        justify-content: center;
        background-color: transparent;}

    
    
    .cineclub {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100vw;
            background-color: transparent;
            justify-content: center;}


    .IniciarSesión {
        display: flex;
        width: 90vh;
        height: 70vh;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 10vh;
        align-content: center;
        background-image: url(./CSS/pruebadeIS.png);
        background-size: cover;
        background-position: center;}

    .IScontenedor {
        display: flex;
        width: 100vw;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        

    }

    .Registrarse {
        display: flex;
        width:  90vh;
        height: 70vh;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-image: url(./CSS/BackRegistrate3.png);
        background-size: cover; }


     @media (min-width: 1440px) {
        .flexbox-seg {
            display: flex;
            width: 100vw;
            height: 90vh;
            align-items: center;
            justify-content: center;
            background-color: aqua; } }

    

